body {
	color: #fff;
	font-weight: 200;
}

footer {
	position: realtive;
	bottom: 0;
	width: 100%;
}

.main {
	padding-top: 20px;
}

.row .col {
	padding:0px;
}
.nav-wrapper {
	padding: 0 10px 0 10px;
}
.navbar-fixed > .progress {
	position: fixed;
	margin: 0;
	z-index: 100;
}
nav .brand-logo {
	position: relative;
	left: inherit;
	width: inherit;
	font-weight: 200;
}
.brand-text {
	display: inline-block!important;
}

nav ul li:hover, nav ul li.active {
    background-color: rgba(0, 0, 0, 0.3)!important; 
}
ul.side-nav {
	width: 230px;
	overflow-y: auto;
	overflow-x: hidden;
}

ul.side-nav li {
	width:100%;
	padding: 0px;
	display: inline-block;
	vertical-align:top;
}

ul.side-nav li a {
	width: 100%;
	font-size: 1.2rem;
	padding: 0;
	font-weight: 200;
	cursor: pointer;
}

.show-link {
	text-decoration: underline;
}

.pointer {
	cursor: pointer;
}

#toggle-sidenav {
	padding: 0 20px 0 10px;
	position: relative;
	cursor: pointer;
	font-size: 32px;
}

.page-title {
	padding-left: 10px;
}

.profile-card {
	padding-top: 10px;
	color: #fff;
	line-height: 32px;
	cursor: pointer;
}
.profile-card img {
	width: 70%;
	border-radius: 50%;
    border: 3px solid #fff;
}

.grad-bg {
	background: rgb(48,126,221);
    background: -moz-linear-gradient(-45deg,  rgba(48,126,221,1) 0%, rgba(242,92,137,1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(48,126,221,1)), color-stop(100%,rgba(242,92,137,1)));
    background: -webkit-linear-gradient(-45deg,  rgba(48,126,221,1) 0%,rgba(242,92,137,1) 100%);
    background: -o-linear-gradient(-45deg,  rgba(48,126,221,1) 0%,rgba(242,92,137,1) 100%);
    background: -ms-linear-gradient(-45deg,  rgba(48,126,221,1) 0%,rgba(242,92,137,1) 100%);
    background: linear-gradient(135deg,  rgba(48,126,221,1) 0%,rgba(242,92,137,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#307edd', endColorstr='#f25c89',GradientType=1 );
}
.user-name {
	width:100%;
	height: 50px;
	font-size: 1.2rem;
	background: #111F28;
}

.profile-picture {
	margin-top: 20px;
	width: 204px;
	height: 204px;
	cursor: pointer;
	display: inline-block;
}

.pick-area {
	height: 200px;
}
.pick-file {
	position: absolute;
	display: inline-block!important;
	bottom: 30px;
	background: #000;
	opacity: 0.4;
	width: 200px;
}
.profile-picture a span {
	color: #fff;
}
.profile-picture img {
	max-width: 200px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.profile-large-bg {
	width: auto;
	height: 200px;
}
.profile-large-bg img {
	max-height: 200px;
	width: auto;
	overflow: hidden;
}

.profile-large-avatar {
	margin: -130px 10px 0 20px;
    width: auto;
    height: 200px;

}
.profile-large-avatar img {
	max-width: auto;
	max-height: 200px;
    border: 3px solid rgba(255,255,255,0.8);
    border-radius: 3px;
}

.profile-large-name {
	margin-left: 210px;
	margin-top: -80px;
	color: #434343;
}
.profile-large-name h4 {
	margin: 1rem 0 0.2rem 0;
}

@media only screen and (max-width : 601px) {
	.profile-large-name {
		text-align: center;
		margin: 0px 0px 10px 0px!important;
	}
}
.card-panel {
	margin-bottom: 10px!important;
	background-color: #EAEBEC;
	color: #434343;
}
.card-panel a:hover {
	text-decoration: underline;
}
.c-p-l {
	width: 98%;
	margin: 0 auto;
	/*margin-right: 5px!important;*/
}
.c-p-r {
	width: 98%;
	margin: 0 auto;
	/*margin-left: 5px!important;*/
}

.card-panel .row {
	margin: 0 10px 10px 10px;
}
.profile-viewer a, a:visited {
	color: #434343;
}

.profile-large {
	border-radius: 4px;
	background: #EAEBEC;
	padding-bottom: 20px;
	overflow: hidden;
	min-height: 300px;
}
.profile-large .row:after {
	clear:none;
}

.bg-drop {
	width: 100%;
}

.img-border {
    border: 3px solid #fff;
}

.drop-box:hover {
   border: 2px solid #fff;
}
.dragover {
	border: 2px solid #fff;
}
#left-menu li a {
	margin-left: 10px;
}

#left-menu li:hover {
	background-color: #ddd;
}

#left-menu li i {
	float: left;
	margin-right: 10px;
}

.bottom-dots {
	border-bottom: 1px dotted #546e7a;
}

form {
	font-weight: 200;
}
.pick-source {
	position:absolute;
	z-index: 10;
}
.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:200px;
  height:200px;
}
.result-image {
	width: 200px;
	height: 200px;
}

.fixed {
	position: fixed!important;
}
.relative {
	position: relative!important;
}
.inline-block {
	display: inline-block!important;
}
.align-left {
	text-align: left!important;
	-webkit-justify-content: inherit!important;
	-moz-justify-content: inherit!important;
	justify-content: inherit!important;
}

.right-10 {
	margin-right: 10px!important;
}
.pad-right-10 {
	padding-right: 10px!important;
}

.w-500 {
	width: 500px!important;
}

.dotted {
    border-bottom: 1px dotted #fff;
}

.btn {
	margin-bottom: 0;
	padding: 0 1rem;
}

.h3 {
	font-size: 2.1rem;
	padding: 5px;
}

.break-word {
	word-wrap: break-word;
}
.spinner {
	display: inline-block!important;
}

.spinner-layer {
   position: absolute;
   width: 100%;
   height: 100%;
  -ms-filter: "progid:DXImageTransform@mixin Microsoft@mixin Alpha(Opacity=${iefactor})";
  filter: "alpha(opacity=(${iefactor}))";
  -moz-opacity: 0;
  -khtml-opacity: 0;
   opacity: 0; 
}
.active .spinner-layer.spinner-blue-only, .active .spinner-layer.spinner-red-only, .active .spinner-layer.spinner-yellow-only, .active .spinner-layer.spinner-green-only {
  /* durations: 4 * ARCTIME */
  -ms-filter: "progid:DXImageTransform@mixin Microsoft@mixin Alpha(Opacity=${iefactor})";
  filter: "alpha(opacity=(${iefactor}))";
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; 
}

.active .spinner-layer.spinner-blue-only,
.active .spinner-layer.spinner-red-only,
.active .spinner-layer.spinner-yellow-only,
.active .spinner-layer.spinner-green-only {
  /* durations: 4 * ARCTIME */
  @include opacity(1);
  -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
  animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
}


/* override label color */
.input-field a {
	cursor: pointer;
}
.input-field label {
	color: #fff;
}
/* label focus color */
.input-field input:focus + label {
	color: #90caf9!important;
}
/* label underline focus color */
.input-field input:focus {
	border-bottom: 1px solid #90caf9;
	box-shadow: 0 1px 0 0 #90caf9;
}
.input-field input.valid {
	border-bottom: 1px solid #90caf9;
	box-shadow: 0 1px 0 0 #90caf9;
}