<div class="row">

  <div ng-if="!$parent.profile.webid">
    <div class="col s12">
      <div class="row center">
        <h4>Lookup a profile URI or <a href="#/login">login</a> to view your profile.</h4>
      </div>
      <div class="row">
        <div class="input-field">
          <input id="profile" type="text" ng-model="webid">
          <label for="profile" ng-class="{active: webid.length > 0}">Profile URI</label>
        </div>
      </div>
      <div class="row">
        <a class="btn waves-effect waves-light blue" ng-click="view()">View</a>
      </div>
    </div>
  </div>
</div>