<div class="row">

  <div ng-if="!$parent.profile.webid">
    <div class="col s12">
      <div class="row valign-wrapper">
        <span class="h3 valign">Please type a profile URI or</span> <a class="waves-effect waves-light btn blue valign" ng-click="login()">{{$parent.loginButtonText}}</a> <span class="h3 valign"> to view your profile.</span>
      </div>
      <div class="row">
        <div class="input-field">
          <input id="profile" type="text" ng-model="webid">
          <label for="profile" ng-class="{active: webid.length > 0}">Profile URI</label>
        </div>
      </div>
      <div class="row">
        <a class="btn waves-effect waves-light blue" ng-click="view()">View</a>
      </div>
    </div>
  </div>
</div>