<div class="row">
  <div class="row s12 center" ng-if="profile.webid" ng-hide="profile.webid && !profile.loading">
      <div class="row s12 center">
        <spinner class="white-text"></spinner>
      </div>
      <div class="row s12 white-text center">Loading profile...</div>
  </div>

  <div ng-if="!authenticated">
    <form>
      <div class="col s12">
        <div class="row center">
          <h2 id="profileDesc">You must <a href="#/login" class="white-text show-link">login</a> to edit your friends list.</h2>
        </div>
      </div>
    </form>
  </div>

  <div class="row card-panel" ng-show="authenticated && profile.webid && !profile.loading">
    <div class="col s12">
      <h3 class="valign-wrapper align-left">
        <span aria-hidden="true" class="mdi-action-account-child valign right-10"></span>
        <span class="right-10">Friends of</span><a href="#/view?webid={{profile.webid|encodeURL}}" ng-show="profile.fullname" class="truncate">{{profile.fullname.value}}</a>
      </h3>
    </div>
    <div class="input-field col s12" ng-repeat="(id, friend) in profile.friends track by $index">
      <form>
        <a class="prefix" ng-click="Unfriend(id)"><span aria-hidden="true" class="mdi-action-delete"></span>
          <span class="sr">Delete Friend</span>
        </a>
        <input id="friend_{{id}}" type="tel" ng-model="friend.value" ng-blur="updateObject(friend)" ng-disabled="friend.locked">
        <label for="friend_{{id}}" ng-class="{active: friend.value.length > 0}">Friend's WebID{{friend.locked?'...updating':''}}</label>
        <div pick-source obj="friend" ng-if="friend.picker"></div>
      </form>
    </div>
    <div class="col s12">
      <a class="btn blue" ng-click="Befriend()"><span aria-hidden="true" class="mdi-content-add left right-10"></span>
        <span class="sr">Add </span>Friend
      </a>
      <a class="btn blue" ng-click="viewFriends()"><span aria-hidden="true" class="mdi-action-done left right-10"></span>
        <span class="sr">Switch to viewer </span>Switch to viewer
      </a>
    </div>
  </div>
</div>