<div class="row">
  <div class="row s12 center" ng-if="profile.webid" ng-hide="profile.webid && !profile.loading">
      <div class="row s12 center">
        <spinner class="white-text"></spinner>
      </div>
      <div class="row s12 white-text center">Loading profile...</div>
  </div>
  <div class="col s12 center" ng-show="!profile.loading && profile.friends && profile.friends.length == 0">
    <h5>{{profile.webid}} does not contain any friends.</h5>
  </div>

  <div class="row" ng-show="profile.webid && !profile.loading && profile.friends.length > 0">
    <div class="col s12 card-panel white">
      <h3 class="valign-wrapper align-left left-10"><span aria-hidden="true" class="mdi-action-account-child valign right-10"></span>
        <span>Friends of <a href="#/profile/view?webid={{profile.webid|encodeURL}}" ng-show="profile.fullname"><span class="truncate">{{profile.fullname.value}}</span></a></span>
      </h3>
    </div>
    <div class="col s12 center">
      <ul class="collection">
        <li class="collection-item avatar valign-wrapper" ng-repeat="(id, friend) in profile.friends track by $index">
          <div class="small-circle valign">
            <img ng-hide="profiles[friend.value].picture.value" ng-src="images/generic_photo.png" alt="Picture of {{profiles[friend.value].fullname.value}}">
            <img ng-show="profiles[friend.value].picture.value" ng-src="{{profiles[friend.value].picture.value}}" alt="Picture of {{profiles[friend.value].fullname.value}}">
          </div>
          <div class="friend-details valign">
            <h5 class="truncate margin-0" ng-show="profiles[friend.value].fullname.value">{{profiles[friend.value].fullname.value}}</h5>
            <div ng-show="profiles[friend.value].knowsme"><small class="green-text">also knows you</small></div>
            <div>
              <span class="truncate left" ng-show="profiles[friend.value].emails.length > 0">{{profiles[friend.value].emails[0].value}}</span>
              <br>
              <div ng-hide="editor" class="left truncate"><a href="#/friends/view?webid={{friend.value|encodeURL}}" class="blue-text">{{friend.value}}</a></div>
              <form ng-show="editor">
                <div class="input-field">
                <input id="friend_{{id}}" type="tel" ng-model="friend.value" ng-blur="updateObject(friend)" ng-disabled="friend.locked">
                <label for="friend_{{id}}" ng-class="{active: friend.value.length > 0}">Friend's WebID{{friend.locked?'...updating':''}}</label>
                <div pick-source obj="friend" ng-if="friend.picker"></div>
              </div>
            </form>
            </div>
          </div>
          <!-- <div class="right valign left-10" ng-hide="isKnown(friend.value)">
            <a class="btn-floating btn-large blue"><span aria-hidde="true" class="mdi-content-add"></span></a>
          </div> -->
          <div class="right valign left-10" ng-show="editor">
              <a href="#!" class="secondary-content" ng-click="Unfriend(id)"><span aria-hidden="true" class="mdi-action-delete medium blue-text"></span></a>
            </div>
        </li>
        <!-- <li class="collection-item" ng-show="editor">
          <form>
            <div class="input-field">
            <a class="prefix" ng-click="Unfriend(id)"><span aria-hidden="true" class="mdi-action-delete"></span>
              <span class="sr">Delete Friend</span>
            </a>
            <input id="friend_{{id}}" type="tel" ng-model="friend.value" ng-blur="updateObject(friend)" ng-disabled="friend.locked">
            <label for="friend_{{id}}" ng-class="{active: friend.value.length > 0}">Friend's WebID{{friend.locked?'...updating':''}}</label>
            <div pick-source obj="friend" ng-if="friend.picker"></div>
          </div>
        </form>
        </li> -->
      </ul>
    </div>
    <div class="col s12" ng-show="authenticated && !editor">
      <a class="btn blue" ng-click="editFriends()"><span aria-hidden="true" class="mdi-editor-mode-edit left right-10"></span>
        <span class="sr">Switch to editor </span>Switch to editor
      </a>
    </div>
    <div class="col s12" ng-show="authenticated && editor">
      <a class="btn blue" ng-click="Befriend()"><span aria-hidden="true" class="mdi-content-add left right-10"></span>
        <span class="sr">Add </span>Friend
      </a>
      <a class="btn blue" ng-click="viewFriends()"><span aria-hidden="true" class="mdi-action-done left right-10"></span>
        <span class="sr">Switch to viewer </span>Switch to viewer
      </a>
    </div>
  </div>

  <div ng-if="!profile.webid">
    <form>
      <div class="col s12">
        <div class="row center">
          <h2 id="profileDesc">Type a WebID or <a href="#/login" class="white-text show-link">login</a> to view the friends list.</h2>
        </div>
        <div class="row">
          <div class="input-field">
            <input id="profile" type="text" ng-model="form.webid">
            <label for="profile" class="white-text" ng-class="{active: form.webid.length > 0}" aria-describedby="profileDesc">WebID</label>
          </div>
        </div>
        <div class="row center">
          <button class="btn blue" ng-click="viewFriends()" type="submit">View<span class="sr"> friends list</span></button>
        </div>
      </div>
    </form>
  </div>
</div>