<div class="row">
	<div ng-show="webid" class="col s12">
    <div class="col s12 center">
      <h2>WebID link</h2>
    </div>
    <div class="col s12 center">
      <div class="row"> 
        <h3 class="break-word valign-wrapper"><span aria-hidden="true" class="mdi-content-link white-text valign right-10"></span><a href="{{webid}}" target="_blank" class="white-text dotted valign">{{webid}}</a></h3>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6 center">
        <div class="col s12 center">
          <h2>
            <a href="{{webidQr.uri}}" class="valign-wrapper white-text" target="_blank"><span aria-hidden="true" class="mdi-content-link white-text valign right-10"></span><span class="dotted">Direct link</span></a>
          </h2>
        </div>
        <div class="col s12 center">
            <qrcode ng-if="webidQr.version > 0" version="{{webidQr.version}}" error-correction-level="{{webidQr.level}}" size="{{webidQr.size}}" data="{{webidQr.uri}}" href="{{webidQr.uri}}" margin="{{webidQr.margin}}"></qrcode>
          <div ng-show="qr.version == 0">Could not generate QR code. WebID is too long ({{webidQr.uri.length}} chars).</div>
        </div>
      </div>

      <div class="col s12 m6 center">
        <div class="col s12 center">
          <h2>
            <a href="//{{viewerQr.uri}}" class="valign-wrapper white-text"><span aria-hidden="true" class="mdi-content-link white-text valign right-10"></span><span class="dotted">Viewer link</span></a>
          </h2>
        </div>
        <div class="col s12 center">
            <qrcode ng-if="viewerQr.version > 0" version="{{viewerQr.version}}" error-correction-level="{{viewerQr.level}}" size="{{viewerQr.size}}" data="{{viewerQr.uri}}" href="//{{viewerQr.uri}}" margin="{{viewerQr.margin}}"></qrcode>
          <div ng-show="viewerQr.version == 0">Could not generate QR code. Link is too long ({{viewerQr.uri.length}} chars).</div>
        </div>
      </div>
    </div>
	</div>
  <div class="row" ng-hide="webid">
    <div class="col s12 center">
      <h3>You must be authenticated in order to share you WebID.</h3>
      <div>
        <button class="btn blue" type="submit" name="action" ng-click="login()">
        <span class="sr">WebID Login </span>{{$parent.loginTLSButtonText}}</button>
      </div>
    </div>
  </div>
</div>
