<div class="row">
  <form class="col s12 center">
    <div class="row">
    	<h2>WebID Login</h2>
    </div>
  	<div class="row valign-wrapper" ng-show="$parent.profile.loading">
        <div class="valign right-10">Loading profile </div><spinner class="valign"></spinner>
    </div>
    <div class="row s12" ng-hide="$parent.profile.authenticated || $parent.profile.authenticated">
      <div class="col s12">
        <button class="btn blue" type="submit" name="action" ng-click="TLSlogin()"><span class="sr">WebID Login </span>{{$parent.loginTLSButtonText}}</button>
      </div>
     <!--  <div class="col s12 offset-m3 m3">
        <button class="btn blue" type="submit" name="action" ng-click="TLSlogin()">{{$parent.loginTLSButtonText}}</button>
      </div>
      <div class="col s12 m3">
        <button class="btn blue" type="submit" name="action" ng-click="RSAlogin()">{{$parent.loginRSAButtonText}}</button>
      </div> -->
    </div>
  </form>
</div>
