<div class="row">
  <form ng-if="profile.webid" class="col s12">
    <div class="row">
      <div class="col s12 m4 center">
        <div ng-file-drop ng-model="files" class="drop-box valign-wrapper center profile-picture" 
              drag-over-class="dragover" ng-multiple="false" allow-dir="false"
              accept=".jpg,.jpeg,.png">
              <a ng-file-select ng-model="files" class="relative center">
                <div class="valign center valign-wrapper">
                  <i class="mdi-image-camera-alt small white-text valign"></i>
                  <span class="valign">Change photo</span>
                </div>
                <img ng-src="{{profile.picture}}"/>
                <img ng-if="profile.picture.length == 0" src="images/generic_photo.png">
              </a>
        </div>
        <div ng-no-file-drop>File Drag/Drop is not supported for this browser</div>
      </div>
      <div class="col s12 m8">
        <!-- <p><br/></p> -->
        <div class="input-field col s12">
          <input id="first_name" type="text" ng-model="profile.firstname">
          <label for="first_name" ng-class="{active: profile.firstname.length > 0}">First Name</label>
        </div>
        <div class="input-field col s12">
          <input id="last_name" type="text" ng-model="profile.lastname">
          <label for="last_name" ng-class="{active: profile.lastname.length > 0}">Last Name</label>
        </div>
        <div class="input-field col s12">
          <input id="last_name" type="text" ng-model="profile.fullname">
          <label for="last_name" ng-class="{active: profile.fullname.length > 0}">Full Name</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <h4 class="valign-wrapper align-left"><i class="mdi-communication-phone white-text valign right-10"></i>Phone numbers</h4>
      </div>
      <!-- <div class="col s12 divider"></div> -->
    </div>

    <div class="row">
      <div class="input-field col s12" ng-repeat="(id, phone) in profile.phones track by $index">
        <a class="prefix" ng-click="deletePhone(id)"><i class="mdi-action-delete white-text"></i></a>
        <input id="telephone" type="tel" ng-model="phone.value">
        <label for="telephone" ng-class="{active: phone.value.length > 0}">Phone</label>
      </div>
      <div class="col s12">
        <a class="btn waves-effect waves-light blue" ng-click="addPhone()"><i class="mdi-content-add left"></i>phone</a>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <h4 class="valign-wrapper align-left"><i class="mdi-communication-email white-text valign right-10"></i>Emails</h4>
      </div>
      <!-- <div class="col s12 divider"></div> -->
    </div>

    <div class="row">
      <div class="input-field col s12" ng-repeat="(id, email) in profile.emails track by $index">
        <a class="prefix" ng-click="deleteEmail(id)"><i class="mdi-action-delete white-text"></i></a>
        <input id="email" type="text" ng-model="email.value">
        <label for="email" ng-class="{active: email.value.length > 0}">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
          <a class="btn waves-effect waves-light blue" ng-click="addEmail()"><i class="mdi-content-add left"></i>email</a>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <h4 class="valign-wrapper align-left"><i class="mdi-maps-rate-review white-text valign right-10"></i>Blogs</h4>
      </div>
      <!-- <div class="col s12 divider"></div> -->
    </div>

    <div class="row">
      <div class="input-field col s12" ng-repeat="(id, blog) in profile.blogs track by $index">
        <a class="prefix" ng-click="deleteEmail(id)"><i class="mdi-action-delete white-text"></i></a>
        <input id="blog" type="text" ng-model="blog.value">
        <label for="blog" ng-class="{active: blog.value.length > 0}">Blog</label>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
          <a class="btn waves-effect waves-light blue" ng-click="addBlog()"><i class="mdi-content-add left"></i>blog</a>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <h4 class="valign-wrapper align-left"><i class="mdi-social-public white-text valign right-10"></i>Homepages</h4>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12" ng-repeat="(id, homepage) in profile.homepages track by $index">
        <a class="prefix" ng-click="deleteHomepage(id)"><i class="mdi-action-delete white-text"></i></a>
        <input id="homepage" type="text" ng-model="homepage.value">
        <label for="homepage" ng-class="{active: homepage.value.length > 0}">Personal homepage</label>
      </div>
      <div class="col s12">
        <a class="btn waves-effect waves-light blue" ng-click="addHomepage()"><i class="mdi-content-add left"></i>homepage</a>
      </div>

      <div class="input-field col s12" ng-repeat="(id, workpage) in profile.workpages track by $index">
        <a class="prefix" ng-click="deleteWorkpage(id)"><i class="mdi-action-delete white-text"></i></a>
        <input id="workpage" type="text" ng-model="workpage.value">
        <label for="workpage" ng-class="{active: workpage.value.length > 0}">Work homepage</label>
      </div>
      <div class="col s12">
        <a class="btn waves-effect waves-light blue" ng-click="addWorkpage()"><i class="mdi-content-add left"></i>workpage</a>
      </div>
    </div>

    <div class="row">
      <div class="col s12 divider"></div>
      <div class="button-field col s12">
        <br>
        <button class="btn waves-effect waves-light blue" type="submit" name="action">
          Save
          <i class="mdi-navigation-check right" ng-show="isSubmitOk"></i>
        </button>
      </div>
    </div>
  </form>
  <div ng-hide="profile.webid" class="center">
    <h4>You must prove you own a profile before you can edit it.</h4>
    <a class="waves-effect waves-light btn blue valign" ng-click="login()">{{$parent.loginButtonText}}</a>
  </div>
</div>