<div class="row">
  <div class="row s12 center" ng-if="profile.webid" ng-hide="profile.webid && !profile.loading">
      <div class="row s12 center">
        <spinner class="white-text"></spinner>
      </div>
      <div class="row s12 white-text center">Loading profile...</div>
  </div>

  <div ng-if="profile.webid && !profile.loading" class="col s12">
    <!-- Top section -->
    <div class="row s12 m12 profile-large">
      <!-- Background -->
      <div class="btn change-bg white black-text valign-wrapper" ng-file-select accept="image/*" ng-multiple="false" ng-capture="camera" ng-model="bgFile.file">
        <spinner class="spinner right-10 left valign" ng-show="profile.bgpicture.uploading"></spinner>
        <div class="left valign">Change image</div>
      </div>
      <div pick-source obj="profile.bgpicture" ng-if="profile.bgpicture.picker"></div>
      <div class="grad-bg profile-large-bg center col s12">
          <div bg-image ng-if="profile.bgpicture.value" bg="profile.bgpicture"></div>
      </div>
      <!-- Avatar -->
      <div class="row s12">
        <div class="profile-large-avatar valign-wrapper center col s12 m4">
          <div ng-file-drop ng-model="pictureFile.file" class="drop-box valign-wrapper center profile-picture" 
              drag-over-class="dragover" ng-multiple="false" allow-dir="false"
              ng-accept="'.jpg,.jpeg,.png'" ng-capture="camera">
              <div ng-file-select ng-model="pictureFile.file" accept="image/*" ng-multiple="false" ng-capture="camera" class="relative center valign-wrapper">
                <div class="valign center valign-wrapper pick-file pointer">
                  <spinner class="valign spinner" ng-show="profile.picture.uploading"></spinner>
                  <span aria-hidden="true" class="mdi-image-camera-alt small white-text valign" ng-hide="profile.picture.uploading || profile.picture.locked"></span>
                  <span class="valign">Change photo</span>
                </div>
                <img ng-if="profile.picture.value" ng-src="{{profile.picture.value}}"/>
                <img ng-if="!profile.picture.value || profile.picture.value.length == 0" src="images/generic_photo.png">
              </div>
          </div>
          <div pick-source obj="profile.picture" ng-if="profile.picture.picker"></div>
        </div>
        <!-- Name -->
        <div class="profile-large-name right col s12 m8">
          <h2 class="">
            {{profile.fullname.value}}
          </h2>
          <div class="truncate"><span aria-hidden="true" class="mdi-content-link valign right-10"></span><a href="{{profile.webid}}" class="black-text" target="_blank" title="{{profile.webid}}">{{profile.webid}}</a></div>
        </div>
      </div>
    </div>

    <div class="row card-panel">
      <div class="col s12 m8">
        <h3 class="valign-wrapper align-left"><span aria-hidden="true" class="mdi-action-account-box valign right-10"></span>Name</h3>
      </div>
      <div class="col s12">
        <div class="input-field pad-right-10 col s12 m6">
          <form>
            <input id="firstname" type="text" ng-model="profile.firstname.value" ng-blur="updateObject(profile.firstname)" ng-disabled="profile.firstname.locked">
            <label for="firstname" ng-class="{active: profile.firstname.value.length > 0}">First Name{{profile.firstname.locked?'...updating':''}}</label>
            <div pick-source obj="profile.firstname" ng-if="profile.firstname.picker"></div>
          </form>
        </div>
        <div class="input-field pad-right-10 col s12 m3">
          <form>
            <input id="lastname" type="text" ng-model="profile.lastname.value" ng-blur="updateObject(profile.lastname)" ng-disabled="profile.lastname.locked">
            <label for="lastname" ng-class="{active: profile.lastname.value.length > 0}">Last Name{{profile.lastname.locked?'...updating':''}}</label>
            <div pick-source obj="profile.lastname" ng-if="profile.lastname.picker"></div>
          </form>
        </div>
        <div class="input-field col s12 m3">
          <form>
            <input id="nick" type="text" ng-model="profile.nick.value" ng-blur="updateObject(profile.nick)" ng-disabled="profile.nick.locked">
            <label for="nick" ng-class="{active: profile.nick.value.length > 0}">Nickname{{profile.nick.locked?'...updating':''}}</label>
            <div pick-source obj="profile.nick" ng-if="profile.nick.picker"></div>
          </form>
        </div>
        <div class="input-field col s12">
          <form>
            <input id="fullname" type="text" ng-model="profile.fullname.value" ng-blur="updateObject(profile.fullname)" ng-disabled="profile.fullname.locked">
            <label for="fullname" ng-class="{active: profile.fullname.value.length > 0}">Full Name{{profile.fullname.locked?'...updating':''}}</label>
            <div pick-source obj="profile.fullname" ng-if="profile.fullname.picker"></div>
          </form>
        </div>
      </div>
    </div>

    <div class="row card-panel">
      <div class="col s12">
        <h3 class="valign-wrapper align-left"><span aria-hidden="true" class="mdi-communication-phone valign right-10"></span>Phone numbers</h3>
      </div>
      <div class="input-field col s12" ng-repeat="(id, phone) in profile.phones track by $index">
        <form>
          <a class="prefix" ng-click="deletePhone(id)"><span aria-hidden="true" class="mdi-action-delete"></span>
            <span class="sr">Delete Phone</span>
          </a>
          <input id="telephone" type="tel" ng-model="phone.value" ng-change="space2dash(phone)" ng-blur="updateObject(phone)" ng-disabled="phone.locked">
          <label for="telephone" ng-class="{active: phone.value.length > 0}">Phone{{phone.locked?'...updating':''}}</label>
          <div pick-source obj="phone" ng-if="phone.picker"></div>
        </form>
      </div>
      <div class="col s12">
        <a class="btn blue" ng-click="addPhone()"><span aria-hidden="true" class="mdi-content-add left"></span>
          <span class="sr">Add </span>phone
        </a>
      </div>
    </div>

    <div class="row card-panel">
      <div class="col s12">
        <h3 class="valign-wrapper align-left"><span aria-hidden="true" class="mdi-communication-email valign right-10"></span>Emails</h3>
      </div>
      <div class="input-field col s12" ng-repeat="(id, email) in profile.emails track by $index">
        <form>
          <a class="prefix" ng-click="deleteEmail(id)"><span aria-hidden="true" class="mdi-action-delete"></span>
            <span class="sr">Delete Email</span>
          </a>
          <input id="email" type="text" ng-model="email.value" ng-blur="updateObject(email)" ng-disabled="email.locked">
          <label for="email" ng-class="{active: email.value.length > 0}">Email{{email.locked?'...updating':''}}</label>
          <div pick-source obj="email" ng-if="email.picker"></div>
        </form>
      </div>
      <div class="col s12">
          <a class="btn blue" ng-click="addEmail()"><span aria-hidden="true" class="mdi-content-add left"></span>
            <span class="sr">Add </span>email
          </a>
      </div>
    </div>

    <div class="row card-panel">
      <div class="col s12">
        <h3 class="valign-wrapper align-left"><span aria-hidden="true" class="mdi-maps-rate-review valign right-10"></span>Blogs</h3>
      </div>
      <div class="input-field col s12" ng-repeat="(id, blog) in profile.blogs track by $index">
        <form>
          <a class="prefix" ng-click="deleteBlog(id)"><span aria-hidden="true" class="mdi-action-delete"></span>
            <span class="sr">Delete Blog</span>
          </a>
          <input id="blog" type="text" ng-model="blog.value" ng-blur="updateObject(blog)" ng-disabled="blog.locked">
          <label for="blog" ng-class="{active: blog.value.length > 0}">Blog{{blog.locked?'...updating':''}}</label>
          <div pick-source obj="blog" ng-if="blog.picker"></div>
        </form>
      </div>
      <div class="col s12">
          <a class="btn blue" ng-click="addBlog()"><span aria-hidden="true" class="mdi-content-add left"></span>
            <span class="sr">Add </span>blog
          </a>
      </div>
    </div>

    <div class="row card-panel">
      <div class="col s12">
        <h3 class="valign-wrapper align-left"><span aria-hidden="true" class="mdi-social-public valign right-10"></span>Personal pages</h3>
      </div>
      <div class="input-field col s12" ng-repeat="(id, homepage) in profile.homepages track by $index">
        <form>
          <a class="prefix" ng-click="deleteHomepage(id)"><span aria-hidden="true" class="mdi-action-delete"></span>
            <span class="sr">Delete Personal homepage</span>
          </a>
          <input id="homepage" type="text" ng-model="homepage.value" ng-blur="updateObject(homepage)" ng-disabled="homepage.locked">
          <label for="homepage" ng-class="{active: homepage.value.length > 0}">Personal homepage{{homepage.locked?'...updating':''}}</label>
          <div pick-source obj="homepage" ng-if="homepage.picker"></div>
        </form>
      </div>
      <div class="col s12">
        <a class="btn blue" ng-click="addHomepage()"><span aria-hidden="true" class="mdi-content-add left"></span>
          <span class="sr">Add </span>homepage
        </a>
      </div>
    </div>

    <div class="row card-panel">
      <div class="col s12">
        <h3 class="valign-wrapper align-left"><span aria-hidden="true" class="mdi-social-public valign right-10"></span>Work pages</h3>
      </div>
      <div class="input-field col s12" ng-repeat="(id, workpage) in profile.workpages track by $index">
        <form>
          <a class="prefix" ng-click="deleteWorkpage(id)"><span aria-hidden="true" class="mdi-action-delete"></span>
            <span class="sr">Delete Work homepage</span>
          </a>
          <input id="workpage" type="text" ng-model="workpage.value" ng-blur="updateObject(workpage)" ng-disabled="workpage.locked">
          <label for="workpage" ng-class="{active: workpage.value.length > 0}">Work homepage{{workpage.locked?'...updating':''}}</label>
          <div pick-source obj="workpage" ng-if="workpage.picker"></div>
        </form>
      </div>
      <div class="col s12">
        <a class="btn blue" ng-click="addWorkpage()"><span aria-hidden="true" class="mdi-content-add left"></span>
          <span class="sr">Add </span>workpage
        </a>
      </div>
    </div>

  </div>
  
  <div ng-if="!profile.webid">
    <form>
      <div class="col s12">
        <div class="row center">
          <h2 id="profileDesc">Type a WebID or <a href="#/login" class="white-text show-link">login</a> to edit your profile.</h2>
        </div>
        <div class="row">
          <div class="input-field">
            <input id="profile" type="text" ng-model="form.webid">
            <label for="profile" class="white-text" ng-class="{active: form.webid.length > 0}" aria-describedby="profileDesc">WebID</label>
          </div>
        </div>
        <div class="row center">
          <button class="btn blue" ng-click="editProfile()" type="submit">Edit<span class="sr"> your profile</span></button>
        </div>
      </div>
    </form>
  </div>

  <div class="modal s12 m3" id="picture-cropper">
    <div class="modal-content">
      <div class="modal-body">
        <div class="col s12 m6 valign-wrapper">
          <div class="cropArea valign">
            <img-crop image="originalImage" area-type="square" result-image-format="{{imageType}}" result-image="croppedImage"></img-crop>
          </div>
        </div>
        <div class="col s12 m6 valign-wrapper">
          <img id="result-image" class="valign" ng-src="{{croppedImage}}" alt="Profile image" />
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="blue white-text btn-flat modal-action modal-close">Cancel</a>
        <a href="#" class="blue white-text btn-flat modal-action modal-close right-10" ng-click="savePicture()">Save<span class="sr"> picture</span></a>
      </div>
    </div>
  </div>
</div>
